body {
	background-color:  #C4C4C4;
}

p{
	font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,Geneva,sans-serif;
	color: white;
	padding: 3px;
}

.roundRectangle{
	margin-right:auto;
	margin-left:auto;
	background-color: #9BC4E2;
	width:600px;
	border: 2px ridge white;
	border-radius: 25px;
	-moz-border-radius: 25px;
}

.groupName{
	font-family: arial black;
	color: green;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #4682B4;
	border-top-right-radius: 25px;
	-moz-border-radius-topright: 25px;
	border-top-left-radius: 25px;
	-moz-border-radius-topleft: 25px;
	
}

.groupLogistics{
	font-family:T"Times New Roman", Times, serif, Verdana, sans-serif, helvetica;
	font-style:italic;
	font-size:small;
	color:blue;
	padding:5px;	
}

.groupDescription{
	font-family:Helvetica,Verdana,sans-serif;
	padding:0px 7px 7px 7px;
	
}
#container{
	width: 1000px;
	height: 100%;
	border: 3px inset #00688B;
	background-color:#C0D9D9;
	margin-left: auto;
	margin-right: auto;
}

#topBanner{
	width:100%;
	height: 90px;
	padding-bottom:0px;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, Geneva, sans-serif;
	color: #666666;
	font-size:1.1em;
	margin:auto;
}

#bannerLinks{
	position:relative;
	float:right;
	padding-left: 20px;
	padding-right:20px;
	margin-top: -70px;	
}

#bannerLinks a{
	text-decoration: none;
	color: white;
}

#navigationbar{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	width:1000px;
	height:30px;	
	background-color:#AEEEEE;
	font-size:1em;
	font-family:"gill sans";
}

#navigationbar ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow: hidden;
}

#navigationbar li{
	float:left;
}

#navigationbar a:link,a:visited
{
	display:block;
	width:240px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#6CA6CD;
	margin: 1px;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}

#navigationbar a:hover,a:active{
	background-color:#7A991A;
}

#leftContent{
	float:left;
	width:150px;
	height: 100%;
	position:absolute;
	background-color:#9999ff;
}

#leftContent ul{
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#leftContent ul li{
	text-align:center;
}

#leftContent ul li a{
	display:block;
	text-decoration: none;
	font-family: Helvetica;
	font-size: 1.2em;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #9999ff;
	color: #5c4822;
}

#leftContent a:hover, a:active{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color:#607B8B;
	
}

#middleContent{
	width:700px;
	height:auto;
	margin-left: 160px;
	margin-right: 160px;
	padding-top: 20px;
	padding-bottom: 20px;	
}

#rightContent{
	background-color: #539DC2;
	width: 150px;
	height: 100%;
	float:right;
}
